<!DOCTYPE html>
<html>
<head>
  <title>PrView</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="grid w1200 page">
  <div class="row">
    <% unless user_signed_in? %>
      <%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %>
    <% end %>
  </div>
  <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
